# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
messages.shape

(26248, 4)

In [4]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [5]:
categories.shape

(26248, 2)

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [6]:
# merge datasets
df = messages.merge(categories,how='left',on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [7]:
df.shape

(26386, 5)

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [8]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(pat=';',expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [9]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x: x[:-2])
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [10]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [11]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].astype(str).apply(lambda x: x[-1:])
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(float)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
categories.describe()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
count,26386.000000,26386.000000,26386.000000,26386.000000,26386.00000,26386.000000,26386.000000,26386.00000,26386.000000,26386.0,...,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000
mean,0.775032,0.171038,0.004586,0.415144,0.07955,0.049989,0.027477,0.01785,0.032707,0.0,...,0.011711,0.043773,0.278292,0.082506,0.093383,0.010687,0.093269,0.020200,0.052263,0.193777
std,0.435692,0.376549,0.067564,0.492756,0.27060,0.217926,0.163471,0.13241,0.177871,0.0,...,0.107583,0.204594,0.448166,0.275139,0.290974,0.102828,0.290815,0.140687,0.222560,0.395264
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.0,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.00000,1.000000,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
df[categories['related']==2.0]

,id,message,original,genre,categories
117,146,Dans la zone de Saint Etienne la route de Jacm...,Nan zon st. etine rout jakmel la bloke se mize...,direct,related-2;request-0;offer-0;aid_related-0;medi...
221,263,. .. i with limited means. Certain patients co...,t avec des moyens limites. Certains patients v...,direct,related-2;request-0;offer-0;aid_related-0;medi...
307,373,The internet caf Net@le that's by the Dal road...,Cyber cafe net@le ki chita rout de dal tou pr ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
462,565,"Bonsoir, on est a bon repos aprs la compagnie ...",Bonswa nou nan bon repo apri teleko nan wout t...,direct,related-2;request-0;offer-0;aid_related-0;medi...
578,700,URGENT CRECHE ORPHANAGE KAY TOUT TIMOUN CROIX ...,r et Salon Furterer. mwen se yon Cosmtologue. ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
657,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
658,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
659,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
660,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
889,1063,no authority has passed by to see us. We don't...,EN OKENN OTORITE POKO PASE WE NOU NOU PAGEN KO...,direct,related-2;request-0;offer-0;aid_related-0;medi...
903,1080,It's Over in Gressier. The population in the a...,Se over toujou nan gresye 24e seksyon komin. P...,direct,related-2;request-0;offer-0;aid_related-0;medi...
931,1113,we sleep with the baby. Thanks in advance for ...,sa nou demi avek ti bebe. Mesi davans pou d no...,direct,related-2;request-0;offer-0;aid_related-0;medi...
937,1121,I need help in Jrmie because I was in Port-au-...,MWEN bezwen ed lan jeremi paske mwen te portop...,direct,related-2;request-0;offer-0;aid_related-0;medi...
939,1123,fsa pou mwen s v p map mouri mwen gen tout po ...,f la kise moniquk fasa pou mwen s v p map mour...,direct,related-2;request-0;offer-0;aid_related-0;medi...
1234,1460,".. Gonaives, in a place called Canal Bois in F...",ou GONAVE NAN YON zon ki se kanal bwa m ekri m...,direct,related-2;request-0;offer-0;aid_related-0;medi...
1256,1483,GEN YON TIBEBE KI MALAD NAN KOU PASKE BLOK TON...,VIRE NAN BO KKOTI YZIN NAN. WAP JWENN YON KAFO...,direct,related-2;request-0;offer-0;aid_related-0;medi...
1317,1550,don't understand the first part. .. understand...,zwen e koman demache la ye. mesi pou konprehan...,direct,related-2;request-0;offer-0;aid_related-0;medi...
1409,1648,Est-ce que ya monde qui aller U. s. a et qui o...,Eske yon mounn ka ale usa ak yon timoun ki ame...,direct,related-2;request-0;offer-0;aid_related-0;medi...
1506,1747,Gens ont information qui dit que si on moins c...,GEN YON ENFOMASYON KI DI SI YON MOUN SITWAYEN ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
1694,1951,This is my address : Cersine 8 Prolong. .. .,. min adres mouin : cersine 8 prolonges,direct,related-2;request-0;offer-0;aid_related-0;medi...
1788,2051,I would like to have some information on the l...,MWEN TA RENMEN GEN KEK ENFOMASYON SOU DENYE KA...,direct,related-2;request-0;offer-0;aid_related-0;medi...
2354,2696,No location : Ou se trouve l'ambassade du Snga...,OU SE TROUVE LAMBASSADE DU SENEGAL EN HAITI?,direct,related-2;request-0;offer-0;aid_related-0;medi...
2479,2840,Je veux savoir comment je peux obtenir de l'ai...,I want to know how i can get some support for ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
2544,2920,"142, Ruelle Beaulieu, Mon Repos 44 Carrefour","142, ruelle beaulieu mon repos 44 carrefour",direct,related-2;request-0;offer-0;aid_related-0;medi...
2560,2936,". .. Esdras. Address : Solidarit Village, Tou...",UL ESDRAS ADRESSE VILLAGE SOLIDARITE RUE T LOU...,direct,related-2;request-0;offer-0;aid_related-0;medi...
3033,3481,Route des dalles prolonges #277 after Morne Je...,route des dalles prolongue # 277 apres le morn...,direct,related-2;request-0;offer-0;aid_related-0;medi...
3138,3603,we are in rue Dessalines Petit goaves and it n...,Nous sommes rue Dessalines ( petit-gouve ) et...,direct,related-2;request-0;offer-0;aid_related-0;medi...
3374,3866,I am very happy to get the messages that tell ...,M byen kontan jwenn mesaj nou yo ki enfome m d...,direct,related-2;request-0;offer-0;aid_related-0;medi...
3630,4145,mouin vle kite ayiti depi kek jou.,I want to leave haiti please for some days,direct,related-2;request-0;offer-0;aid_related-0;medi...
4609,5219,Mwen ta renmen jwenn yon djb. ske gen posiblit...,"I wannan found one jod, how like I can got it....",direct,related-2;request-0;offer-0;aid_related-0;medi...
...,...,...,...,...,...
12392,14593,SYED EJAZ BUKHARI MAOZA SHAH WALI TEHSIL ALI P...,SYED EJAZ BUKHARI MAOZA SHAH WALI TEHSIL ALI P...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12396,14598,TAUSEEF KHAN S/O AKBAR DIN MIANWALI TEH ESSA K...,TAUSEEF KALA / MANGLI VIA / ESS ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12397,14601,TAUSEEF KHAN S/O AKBAR DIN MIANWALI TEH ESSA K...,NAAM.TAUSEEF KHAN S/ AKBAR DIN. MIANWALI KIYA ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12398,14602,TEH SUHBAT PUR VILL NASEER KHAN KHOSA MY PRESE...,TEH SUHBAT PUR VILL NASEER KHAN KHOSA Mera Var...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12407,14613,UN aur UN K Nimaidon ko Apeel krt hain k? Hama...,! a,direct,related-2;request-0;offer-0;aid_related-0;medi...
12416,14632,I allhadino khaskheli UC chatto a dehe a shalu...,allhadino khaskheli chatto dehe a shalunka ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12418,14635,village koor mir mohmmad u c burira takuka kha...,"GAON: KOOR, MERA NAAM MOHAMMAD U C BURIRA TAKU...",direct,related-2;request-0;offer-0;aid_related-0;medi...
12425,14643,gaav valay aahar aor aarthik samashyaa saamna ...,villagers r facing food and financial problm k...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12427,14645,"CONNFCTION / . SOLANGI, ...",CONNFCTION B / C . VILLAGE ...,direct,related-2;request-0;offer-0;aid_related-0;medi...
12479,14720,@jujoffer: So Frankenstorm has been reduced to...,NaN,social,related-2;request-0;offer-0;aid_related-0;medi...
12685,14980,#SandyUntappd ‚àö‚â• Drinking an Oatmeal Stout...,NaN,social,related-2;request-0;offer-0;aid_related-0;medi...
12758,15073,atrickSF @antmarshall @kleankut1 @somarlavous ...,NaN,social,related-2;request-0;offer-0;aid_related-0;medi...
13732,16248,"Les habitants, dont l'activité est essentielle...",NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
14938,17564,"Jusqu'à présent, les 133 femmes qui participen...",NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
15029,17668,Despite rapid deliveries of tents and other re...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
15609,18290,All available resources were put forward to de...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
15933,18650,The six countries will also adopt a training c...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
15979,18705,"""It was very windy and there were heavy thunde...",NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
16046,18777,The 50 international hospital staff lived in a...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
16925,19747,L'Armée suisse a cependant le savoir-faire et ...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
17528,20421,PETR V. ILIICHEV (Russian Federation) said the...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
18381,21367,"* Par ailleurs, aucune victime française n'a é...",NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
18644,21661,Refugees International therefore recommends that:,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
19849,22985,This combination of low agricultural productio...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
20192,23358,"crop, loss of hydro-electric generating capaci...",NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
20465,23662,transferred to a sanitary landfill site by a,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
20636,23861,Families also have solar lamps which can be re...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
22481,25874,Read the [full blog post](http://www.odi.org.u...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
23537,27071,Actualmente e independientemente de la ayuda d...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...
25385,29126,Mali's former President Amadou Toumani Touré -...,NaN,news,related-2;request-0;offer-0;aid_related-0;medi...

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [14]:
# drop the original categories column from `df`
df.drop(columns=['categories'], inplace=True)
df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [15]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [16]:
# check number of duplicates
df[df.duplicated(subset='message')].shape[0]

209

In [17]:
# drop duplicates
df.drop_duplicates(subset='message',inplace=True,keep='first')

In [18]:
# check number of duplicates
df[df.duplicated()].shape[0]

0

Remove messages with related == 2.0, a lot of them seem not translated to english

In [19]:
df.drop(df[df['related']==2.0].index, axis=0, inplace=True)

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [20]:
engine = create_engine('sqlite:///DisasterResponse.db')
df.to_sql('DisasterResponse', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.